

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: roboto serif;
}

/*.........styling for the header.........*/

.top_header {
    width: 100%;
    background-color: #4c161d;
    height: 10vh;
    display: block;
    color: white;
}

.inner_header {
    max-width: 80%;
    height: 10vh;
    background-color: #4c161d;
    color:white;
    margin: 0 auto;
    display: block;
}

.logo {
    background-color: #4c161d;    
    font-size: 1rem;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 10vh;
    display: block;
}

.logo h1 {    
    color:whitesmoke;
    font-family: handlee;
    font-weight: 200;
}

/*.........style content for main page areas............*/

.main_page {
    width: 100%;
    background-color: whitesmoke;
    height:  90vh;
    display: block;
    }

.main_content_page {
    max-width: 80%;
    height: 90vh;
    background-color: whitesmoke;
    margin: 0 auto;
}

.score_board {
    height: 4rem;
    width: 100%;
    color: white;
}

.score_board_left {
    float: left;
    height: 4rem;
    width: 49%;
    color: white;
    font-family: roboto serif;
    font-weight: 100;
    background-color: purple;
    padding-left: 0px;
    font-size: 1.2rem;
}

.score_board_right {
    float: left;
    text-align: right;
    height: 4rem;
    width: 49%;
    background-color: purple;
    padding-right: 0px;
    font-size: 1.2rem;
    font-family: roboto serif;
    font-weight: 100;
}

.question_box {
    margin: 0 auto;
    position: relative;
    padding-left: 4rem;
    top: 60px;
    bottom: 30px;
    height: 5rem;
    width: 75%;
    border-style: solid;
    border-color: purple;
    border-width: 2px;
    border-radius: 8px;
    }

.flex-container {
    margin: 0 auto;
    margin-top: 50px;  
    height: auto; 
    display: flex; 
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    margin-top: 2rem;
    padding-left: 4rem;
    height: 3rem;
    width: 75%;
    border-style: solid;
    border-color: #800080;
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 0px;
    position: relative;
}

#card_a, #card_b, #card_c, #card_d  {
    height: 50%;
    width: 75%;
    border: none;
    text-align: left;
    font-size: 2rem;
}

#question_card {
    text-align: left;
    font-size: 2rem;
}

/*....for use with classes to switch off display....*/

.display_none {
    display: none;
}

/*...........question feedback to user boxes .........*/

.question_feedback_box {
    margin: auto;
    padding-left: 4rem;
    margin-top: 25px;
    height: 12rem;
    width: 75%;
    font-size: 1.2rem;
    border-color: black;
    background-color: #ffa500;
}

.quiz_ended {
    margin: auto;
    padding-left: 4rem;
    margin-top: 25px;
    height: 12rem;
    width: 75%;
    font-size: 2rem;
    border-color: #000000;
    background-color: orange;
}

/*..........styling answer button and position.....*/

#button2, #button3 {
    width: 200px;
    height: 35px;
    border-radius: 8px;
    font-size: 1.2rem;
}

#end_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #ffa500;
    color: black;
    text-align: center;
}

/*..........styling fontawesome fonts.....*/

.tick {
    background-color: #008000;
    font-size: 300%;
    color: #ffffff;
    width: 3rem;
    height: 3rem;
}

.xmark {
    background-color: #ff0000;
    font-size: 300%;
    color: white;
    width: 3rem;
    height: 3rem;
}

/*.........media query for smaller screen..........*/

@media screen and (max-width: 600px) {

.top_header {
    width: 100%;
    background-color: #4c161d;
    height: 30px;
    display: block;
    color: white;
}

.logo > h1 {
    font-size: 50%;
}

.logo {
    background-color: #4c161d;    
    font-size: 1rem;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 30px;
    display: block;
}

.inner_header {
        max-width: 80%;
        height: 30px;
        background-color: #4c161d;
        color:white;
        margin: 0 auto;
        display: block;
}

.main_page {
    width: 100%;
    background-color: #f5f5f5;
    height:  90vh;
    display: block;
    }

.main_content_page {
    max-width: 80%;
    height: 90vh;
    background-color: whitesmoke;
    margin: 0 auto;
}

.score_board {
    height: auto;
    width: auto;
    color: white;
}

.score_board_left {    
    font-size: 0.5rem;
    width: 50%;
    text-align: left;
    height: auto;
    display: block-inline;
}

.score_board_right {
    font-size: 0.5rem;
    width: 50%;
    text-align: right;
    height: auto;
    display: block-inline;
}

#question_card {
    text-align: left;
    font-size: 1rem;
}

.question_box {
    width: 80%;
    display: block;
}
.flex-container {
    flex-wrap: none;
    }

.box {
    margin-top: 1rem;
    padding-left: 4rem;
    height: 3rem;
    width: 80%;
    border-style: solid;
    border-color: #800080;
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 0px;
}

#card_a, #card_b, #card_c, #card_d  {
    width: 80%;
    border: none;
    text-align: left;
    font-size: 1rem;
}

#end_footer {
    font-size: x-small;
}
}