

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: roboto serif;
}

/*.........styling for the header.........*/

.top_header {
    width: 100%;
    background-color: #4c161d;
    height: 10vh;
    display: block;
    color: white;
}

.inner_header {
    max-width: 80%;
    height: 10vh;
    background-color: #4c161d;
    color:white;
    margin: 0 auto;
    display: block;
}

.logo {
    background-color: #4c161d;    
    font-size: 1rem;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 10vh;
    display: block;
}

.logo h1 {    
    color:whitesmoke;
    font-family: handlee;
    font-weight: 200;
}

/*.........style content for main page areas............*/

.main_page {
    width: 100%;
    background-color: whitesmoke;
    min-height:  calc(90vh - 25px);
    display: block;
    }

.main_content_page {
    max-width: 80%;
    height: 90vh;
    background-color: whitesmoke;
    margin: 0 auto;
}

/*..... styling for score board area.......*/

.score_board {
    height: 4rem;
    width: 100%;
    color: white;
}

.score_board_left {
    float: left;
    height: 4rem;
    width: 50%;
    color: white;
    font-weight: 100;
    background-color: purple;
    padding-left: 0px;
    font-size: 1.2rem;
}

.score_board_right {
    float: left;
    text-align: right;
    height: 4rem;
    width: 50%;
    background-color: purple;
    padding-right: 0px;
    font-size: 1.2rem;
    font-weight: 100;
}

/*.... styling for question box and answer option boxes */

.question_box {
    margin: 0 auto;
    position: relative;
    padding-left: 4rem;
    top: 60px;
    bottom: 30px;
    height: 5rem;
    width: 75%;
    border-style: solid;
    border-color: purple;
    border-width: 2px;
    border-radius: 8px;
    }

.flex-container {
    margin: auto;
    margin-top: 50px;  
    height: auto; 
    display: flex; 
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    margin-top: 2rem;
    padding-left: 4rem;
    height: 3rem;
    width: 75%;
    border-style: solid;
    border-color: #800080;
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 0px;
    position: relative;
}

#card_a, #card_b, #card_c, #card_d  {
    height: 50%;
    width: 75%;
    border: none;
    text-align: left;
    font-size: 2rem;
}

#question_card {
    text-align: left;
    font-size: 2rem;
}

/*...........styling question feedback box .........*/

.question_feedback_box {
    margin: auto;
    margin-top: 25px;
    height: 8rem;
    width: 80%;
    font-size: 1.2rem;
    border-color: black;
    background-color: #ffa500;
}

.display_inarow {
    display: inline-block;
    line-height: 20%;
    width: 33%;
}

.centre { 
    text-align: center; 
    width: 50%; 
} 

/*...........styling end of quiz feedback box .........*/

.quiz_ended {
    margin: auto;
    margin-top: 25px;
    height: 6rem;
    width: 80%;
    font-size: 2rem;
    border-color: #000000;
    background-color: orange;
}

.display_inarow2 {
    display: inline-block;    
    width: 45%;
    text-align: center;
    line-height: 2rem;
} 

/*..........styling a fake div button for feedback boxes.....*/

.btn2 {
    padding: 8px;
    background-color: white;
    color: black;
    border-radius: 8px;
    font-size: 1.2rem;
    display: inline-block;
}

/*..........styling footer section.....*/

#end_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #ffa500;
    color: black;
    text-align: center;
}

/*..........styling fontawesome fonts .....*/

.tick {
    margin: auto;
    background-color: #008000;
    font-size: 300%;
    color: #ffffff;
    width: 3rem;
    height: 3rem;
}

.xmark {
    margin: auto;
    background-color: #ff0000;
    font-size: 300%;
    color: white;
    width: 3rem;
    height: 3rem;
}

.centre { 
    text-align: center; 
    width: 30%; 
} 

/*....for use with classes to switch off display....*/

.display_none {
    display: none;
}

/*.........media query for smaller screen..........*/

@media screen and (max-width: 600px) {

/*...styling header...*/

.top_header {
    width: 100%;
    background-color: #4c161d;
    height: 30px;
    display: block;
    color: white;
}

.logo > h1 {
    font-size: 50%;
}

.logo {
    background-color: #4c161d;    
    font-size: 2rem;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 30px;
    display: block;
}

.inner_header {
        max-width: 80%;
        height: 30px;
        background-color: #4c161d;
        color:white;
        margin: 0 auto;
        display: block;
}

/* ...... styling main quiz area.....*/

.main_page {
    width: 100%;
    background-color: #f5f5f5;
    min-height: calc(100vh - 55px);
    display: block;
    }

.main_content_page {
    max-width: 80%;
    min-height: calc(100vh - 55px);
    background-color: whitesmoke;
    margin: 0 auto;
}

/* ...... styling scoreboard area.....*/

.score_board {
    height: auto;
    width: auto;
    color: white;
}

.score_board_left {    
    font-size: 0.5rem;
    width: 50%;
    text-align: left;
    height: auto;
    display: inline-block;
}

.score_board_right {
    font-size: 0.5rem;
    width: 50%;
    text-align: right;
    height: auto;
    display: inline-block;
}

/* ...... styling question card and answer options.....*/

#question_card {
    text-align: left;
    font-size: 1rem;
}

.question_box {
    width: 80%;
    display: block;
}
.flex-container {
    flex-wrap: wrap;
    }

.box {
    margin-top: 1rem;
    padding-left: 4rem;
    height: 3rem;
    width: 80%;
    border-style: solid;
    border-color: #800080;
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 0px;
}

#card_a, #card_b, #card_c, #card_d  {
    width: 80%;
    border: none;
    text-align: left;
    font-size: 1rem;
}

/* ...... styling question feedback box.....*/

.question_feedback_box {
    margin: 0 auto; 
    padding-left: 0px;
    margin-top: 25px;
    height: 3rem;
    width: 100%;
    font-size: 8px;
    border-color: black;
    background-color: #ffa500;
}

/* ...... styling end of quiz feedback box.....*/

.quiz_ended {
    margin: auto;
    margin-top: 25px;
    height: 4rem;
    width: 100%;
    font-size: 8px;
    border-color: #000000;
    background-color: orange;
}

.display_inarow2 {
    display: inline-block;    
    width: 45%;
    text-align: center;
    line-height: 1rem;
}

/* ...... styling footer area.....*/

#end_footer {
    font-size: x-small;
}

/* styling for fontawesome icons */

.tick {
    font-size: 100%;
    width: 1rem;
    height: 1rem;
}

.xmark {
    font-size: 100%;
    width: 1rem;
    height: 1rem;
}

/*..........styling a fake div button for feedback boxes.....*/

.btn2 {
    padding: 8px;
    background-color: white;
    color: black;
    border-radius: 8px;
    font-size: 0.6rem;
    display: inline-block;
}
} 


  
